<footer class="page-footer alfa-fonce">
    <div class="container ">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Club Alfa 44</h5>
                <p class="grey-text text-lighten-4">Assossiation Lutte Fitness Aigrefeuille-sur-maine.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Liens</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="{{ path("page-statique", {'parent': 'lutte', 'enfant': 'presentation'}) }}">Lutte</a></li>
                    <li><a class="grey-text text-lighten-3" href="{{ path("page-statique", {'parent': 'grappling-fight', 'enfant': 'presentation'}) }}">Grappling Fight</a></li>
                    <li><a class="grey-text text-lighten-3" href="{{ path("page-statique", {'parent': 'musculation', 'enfant': 'presentation'}) }}">Musculation</a></li>
                    <li><a class="grey-text text-lighten-3" href="{{ path("page-statique", {'parent': 'fitness', 'enfant': 'presentation'}) }}">Fitness</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright alfa-tres-fonce">
        <div class="container">
            © 2017 Copyright <a href="{{ path('fos_user_security_login') }}">alfa44</a>
            <a class="grey-text text-lighten-4 right" href="{{ path("page-statique", {'parent': 'club', 'enfant': 'mentions-legales'}) }}">Mentions légales</a>
        </div>
    </div>
</footer>
