{% extends 'base.html.twig' %}

{% block main %}
    <div class="carousel carousel-slider" data-indicators="true" >

        <a class="carousel-item" href="#one!"><img src="{{ asset('images/caroussel/lutte.jpg') }}"></a>


        <div class="carousel-fixed-item center">
            <h1 class="titre white-text">alfa</h1>
            <p class="sous-titre white-text">Lutte, Fitness, Musculation, Grappling Fight</p>
            <a class="btn waves-effect indigo white-text-text darken-4">s'inscrire</a>
        </div>


        <a class="carousel-item" href="#two!"><img src="{{ asset('images/caroussel/grappling.jpg') }}"></a>
        <a class="carousel-item" href="#two!"><img src="{{ asset('images/caroussel/fitness.jpg') }}"></a>
        <a class="carousel-item" href="#two!"><img src="{{ asset('images/caroussel/musculation.jpg') }}"></a>

    </div>

    {#////////////////////////////////////////////////////////////////#}


    <div class="container container_accueil z-depth-2">

        <div class="row activites ">
            <div class="col s10 m5 l3 ">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ asset('images/lutte.png') }}">
                    </div>
                    <div class="card-action">
                        <a href="#" class="flow-text indigo-text text-darken-4">Lutte</a>
                    </div>
                </div>
            </div>

            <div class="col s10 m5 l3 offset-m1">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ asset('images/fitness.png') }}">
                    </div>
                    <div class="card-action">
                        <a href="#" class="flow-text indigo-text text-darken-4">Fitness</a>
                    </div>
                </div>
            </div>

            <div class="col s10 m5 l3 ">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ asset('images/musculation.png') }}">
                    </div>
                    <div class="card-action">
                        <a href="#" class="flow-text indigo-text text-darken-4">Musculation</a>
                    </div>
                </div>
            </div>

            <div class="col s10 m5 l3 offset-m1 ">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ asset('images/grappling.png') }}">
                    </div>
                    <div class="card-action">
                        <a href="#" class="flow-text indigo-text text-darken-4">Grappling-Fight</a>
                    </div>
                </div>
            </div>

        </div>
        <hr id="ancre_other_page" class="scrollspy hr_encart">
        <br>


        <div class="row">

            <div class="col xl4 l12">

                <div id="textegauche">
                    <p>Quare talis improborum consensio non modo excusatione amicitiae tegenda non est sed potius
                        supplicio omni vindicanda est, ut ne quis concessum putet amicum vel bellum patriae inferentem
                        sequi; quod quidem.</p>|
                    <p>Cum saepe multa, tum memini domi in hemicyclio sedentem, ut solebat, cum et ego essem una et
                        pauci admodum familiares, in eum sermonem illum incidere qui tum forte multis erat in ore.
                        Meministi enim profecto, Attice, et eo magis, quod P.</p>
                    <p>Apud has gentes, quarum exordiens initium ab Assyriis ad Nili cataractas porrigitur et confinia
                        Blemmyarum, omnes pari sorte sunt bellatores seminudi coloratis sagulis pube tenus amicti,
                        equorum adiumento pernicium graciliumque camelorum per diversa se raptantes, in tranquillis vel
                        turbidis rebus</p>
                </div>
            </div>

            <div class="col xl4 l12">

                <div id="ancre_scroll" class="scrollspy center-align">
                    <h1><img src="{{ asset('images/logo.png') }}" alt="logo alfa" id="imagecentre"
                             class="imgcentre img-responsive z-depth-1"></h1>
                </div>
            </div>

            <div class="col xl4 l12">

                <div id="textedroit" class="left-align">
                    <p>Quare talis improborum consensio non modo excusatione amicitiae tegenda non est sed potius
                        supplicio omni vindicanda est, ut ne quis concessum putet amicum vel bellum patriae inferentem
                        sequi; quod quidem.</p>
                    <p>Cum saepe multa, tum memini domi in hemicyclio sedentem, ut solebat, cum et ego essem una et
                        pauci admodum familiares, in eum sermonem illum incidere qui tum forte multis erat in ore.
                        Meministi enim profecto, Attice, et eo magis, quod P.</p>
                    <p>Apud has gentes, quarum exordiens initium ab Assyriis ad Nili cataractas porrigitur et confinia
                        Blemmyarum, omnes pari sorte sunt bellatores seminudi coloratis sagulis pube tenus amicti,
                        equorum adiumento pernicium graciliumque camelorum per diversa se raptantes, in tranquillis vel
                        turbidis rebus</p>
                </div>

            </div>

        </div>


    </div>


    {#///////////////////////#}
    <br/>


{% endblock %}
