{% extends 'base.html.twig' %}
{%  block title %}{{ contenu.titre }}{% endblock %}
{% block description %}{{ contenu.description }}{% endblock %}

{% block main %}
    <div class="carousel carousel-slider hide-on-med-and-down" data-indicators="true" >

        <a class="carousel-item" href="#one!"><img src="{{ asset('images/caroussel/lutte.jpg') }}"></a>


        <div class="carousel-fixed-item center">
            <h1 class="titre white-text">alfa</h1>
            <p class="sous-titre white-text">Lutte, Fitness, Musculation, Grappling Fight</p>
            <a class="btn waves-effect indigo white-text-text darken-4" href="{{ path('user_registration') }}">s'inscrire</a>
        </div>


        <a class="carousel-item" href="#two!"><img src="{{ asset('images/caroussel/grappling.jpg') }}"></a>
        <a class="carousel-item" href="#two!"><img src="{{ asset('images/caroussel/fitness.jpg') }}"></a>
        <a class="carousel-item" href="#two!"><img src="{{ asset('images/caroussel/musculation.jpg') }}"></a>

    </div>
    <div class="logo-small black hide-on-large-only">
        <img class="center-block" src="{{ asset("images/logo-banner.jpg") }}" alt="club alfa 44">
    </div>

    {#////////////////////////////////////////////////////////////////#}


    <div class="center-block container_accueil z-depth-2">

        <div class="row activites">
            <div class="col s12 m6 l3">
                <div class="card cardhome">
                    <div class="card-image">
                        <img src="{{ asset('images/lutte.png') }}">
                    </div>
                    <div class="card-action">
                        <a href="#" class="indigo-text text-darken-4">Lutte</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l3">
                <div class="card cardhome">
                    <div class="card-image">
                        <img src="{{ asset('images/fitness.png') }}">
                    </div>
                    <div class="card-action">
                        <a href="#" class="center-align indigo-text text-darken-4">Fitness</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l3">
                <div class="card cardhome">
                    <div class="card-image">
                        <img src="{{ asset('images/musculation.png') }}">
                    </div>
                    <div class="card-action">
                        <a href="#" class="indigo-text text-darken-4">Musculation</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l3">
                <div class="card cardhome">
                    <div class="card-image">
                        <img src="{{ asset('images/grappling.png') }}">
                    </div>
                    <div class="card-action">
                        <a href="#" class="indigo-text text-darken-4">Grappling-Fight</a>
                    </div>
                </div>
            </div>

        </div>
        <hr id="ancre_other_page" class="scrollspy hr_encart">
        <br>


        <div class="row">

            <div class="col l12">

                <div id="ancre_scroll" class="scrollspy">
                    {{ contenu.contenu|raw }}
                </div>
            </div>

        </div>


    </div>


    {#///////////////////////#}
    <br/>


{% endblock %}
