{% extends 'base.html.twig' %}

{% block main %}

    <div class="coverimage">
        <div class="main-wrapper center">
            <video id="video-oiseaux" preload="auto" autoplay loop>
                <source src="{{ asset('videos/luttevideo.mp4') }}" type="video/mp4">
                Votre navigateur ne prend pas en charge cette vidéo.
            </video>

            <img src="{{ asset('images/logo.png') }}" alt="logo alfa" class="image_petit_ecran">


            <a href="#" class="center text-video waves-effect waves-light btn indigo darken-4 z-depth-5">Je
                participe</a>


            <a href="#ancre_scroll"><img
                        src="{{ asset('images/ic_keyboard_arrow_down_black_48px.svg') }}" alt="chevron"
                        class="chevron-down"></a>


        </div>
    </div>


    {#////////////////////////////////////////////////////////////////#}


    <div class="container container_accueil z-depth-2">

        <div class="row activites ">
            <div class="col s10 m5 l3 ">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ asset('images/lutte.png') }}">
                    </div>
                    <div class="card-action">
                        <a href="#" class="flow-text indigo-text text-darken-4">Lutte</a>
                    </div>
                </div>
            </div>

            <div class="col s10 m5 l3 offset-m1">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ asset('images/fitness.png') }}">
                    </div>
                    <div class="card-action">
                        <a href="#" class="flow-text indigo-text text-darken-4">Fitness</a>
                    </div>
                </div>
            </div>

            <div class="col s10 m5 l3 ">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ asset('images/musculation.png') }}">
                    </div>
                    <div class="card-action">
                        <a href="#" class="flow-text indigo-text text-darken-4">Musculation</a>
                    </div>
                </div>
            </div>

            <div class="col s10 m5 l3 offset-m1 ">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ asset('images/grappling.png') }}">
                    </div>
                    <div class="card-action">
                        <a href="#" class="flow-text indigo-text text-darken-4">Grappling-Fight</a>
                    </div>
                </div>
            </div>

        </div>
        <hr id="ancre_other_page" class="scrollspy hr_encart">
        <br>


        <div class="row">

            <div class="col xl4 l12">

                <div id="textegauche">
                    <p>Quare talis improborum consensio non modo excusatione amicitiae tegenda non est sed potius
                        supplicio omni vindicanda est, ut ne quis concessum putet amicum vel bellum patriae inferentem
                        sequi; quod quidem.</p>|
                    <p>Cum saepe multa, tum memini domi in hemicyclio sedentem, ut solebat, cum et ego essem una et
                        pauci admodum familiares, in eum sermonem illum incidere qui tum forte multis erat in ore.
                        Meministi enim profecto, Attice, et eo magis, quod P.</p>
                    <p>Apud has gentes, quarum exordiens initium ab Assyriis ad Nili cataractas porrigitur et confinia
                        Blemmyarum, omnes pari sorte sunt bellatores seminudi coloratis sagulis pube tenus amicti,
                        equorum adiumento pernicium graciliumque camelorum per diversa se raptantes, in tranquillis vel
                        turbidis rebus</p>
                </div>
            </div>

            <div class="col xl4 l12">

                <div id="ancre_scroll" class="scrollspy center-align">
                    <h1><img src="{{ asset('images/logo.png') }}" alt="logo alfa" id="imagecentre"
                             class="imgcentre img-responsive z-depth-1"></h1>
                </div>
            </div>

            <div class="col xl4 l12">

                <div id="textedroit" class="left-align">
                    <p>Quare talis improborum consensio non modo excusatione amicitiae tegenda non est sed potius
                        supplicio omni vindicanda est, ut ne quis concessum putet amicum vel bellum patriae inferentem
                        sequi; quod quidem.</p>
                    <p>Cum saepe multa, tum memini domi in hemicyclio sedentem, ut solebat, cum et ego essem una et
                        pauci admodum familiares, in eum sermonem illum incidere qui tum forte multis erat in ore.
                        Meministi enim profecto, Attice, et eo magis, quod P.</p>
                    <p>Apud has gentes, quarum exordiens initium ab Assyriis ad Nili cataractas porrigitur et confinia
                        Blemmyarum, omnes pari sorte sunt bellatores seminudi coloratis sagulis pube tenus amicti,
                        equorum adiumento pernicium graciliumque camelorum per diversa se raptantes, in tranquillis vel
                        turbidis rebus</p>
                </div>

            </div>

        </div>


    </div>


    {#///////////////////////#}
    <br/>


{% endblock %}
