{% extends 'base.html.twig' %}
{% block title %}Le palmares{% endblock %}
{% block description %}les champions du club{% endblock %}
{% block titre %}Le palmares{% endblock %}

{% block main %}
    <div class="container">
        <ul class="collapsible">
            {% for champion in champions %}
                <li>
                    <div class="collapsible-header c-h "><img class="responsive-img center-block image-champion"
                                                         src="{% if vich_uploader_asset(champion, 'imageFile') %} {{ vich_uploader_asset(champion, 'imageFile')| imagine_filter('champions') }} {% else %}{{ asset("images/default-placeholder-300x200.png") }}

                        {% endif %}" alt="{{ champion.prenom }} {{ champion.nom }}">
                        <div class="n-champion"><h5>{{ champion.prenom }} {{ champion.nom }}</h5></div>
                    </div>
                    <div class="collapsible-body c-b"><span>{{ champion.titres|raw }}</span></div>
                </li>
            {% endfor %}
        </ul>

    </div>
    <script>
        $(document).ready(function(){
            $('.collapsible').collapsible();
        });
    </script>
{% endblock %}
