{% extends 'baseindex.html.twig' %}
{%  block title %}{{ contenu.titre }}{% endblock %}
{% block description %}{{ contenu.description }}{% endblock %}

{% block main %}
    <div id="video">

    </div>

        {#////////////////////////////////////////////////////////////////#}


    <div class="logo-small black hide-on-large-only">
        <img class="center-block photo-b" src="{{ asset("images/photo-b-mobile.png") }}" alt="club alfa 44">
    </div>

    {#////////////////////////////////////////////////////////////////#}


    <div class="center-block container_accueil z-depth-2">

        <div id="presentation" class="row activites">
            <div class="col s12 m6 l3">
                <div class="card cardhome">
                    <div class="card-image">
                        <img alt="lutte" src="{{ asset('images/lutte.jpg') }}">
                    </div>
                    <div class="card-action">
                        <a href="{{ path("page-statique", {'parent': 'lutte', 'enfant': 'presentation'}) }}" class="indigo-text text-darken-4">Lutte</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l3">
                <div class="card cardhome">
                    <div class="card-image">
                        <img alt="fitness" src="{{ asset('images/Fitness-accueil.jpg') }}">
                    </div>
                    <div class="card-action">
                        <a href="{{ path("page-statique", {'parent': 'fitness', 'enfant': 'presentation'}) }}" class="center-align indigo-text text-darken-4">Fitness</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l3">
                <div class="card cardhome">
                    <div class="card-image">
                        <img alt="musculation" src="{{ asset('images/Salle-muscu-2.jpg') }}">
                    </div>
                    <div class="card-action">
                        <a href="{{ path("page-statique", {'parent': 'musculation', 'enfant': 'presentation'}) }}" class="indigo-text text-darken-4">Musculation</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m6 l3">
                <div class="card cardhome">
                    <div class="card-image">
                        <img alt="grappling fight" src="{{ asset('images/grappling.jpg') }}">
                    </div>
                    <div class="card-action">
                        <a href="{{ path("page-statique", {'parent': 'grappling-fight', 'enfant': 'presentation'}) }}" class="indigo-text text-darken-4">Grappling-Fight</a>
                    </div>
                </div>
            </div>

        </div>
        <hr id="ancre_other_page" class="scrollspy hr_encart">
        <br>


        <div class="row">

            <div class="col l12">

                <div id="ancre_scroll" class="scrollspy">
                    {{ contenu.contenu|raw }}
                </div>
            </div>

        </div>


    </div>


    {#///////////////////////#}
    <br/>


{% endblock %}
