{% extends 'base.html.twig' %}
{% block title %}Le Staff{% endblock %}
{% block description %}Les membres du Staff{% endblock %}
{% block titre %}Le Staff{% endblock %}

{% block main %}

    <!-- page content -->

    <div class="d iv jc offset-m1 cy">

        <div class="c">
            <div class="m-c d iv ki center-on-small-only">

                <h3 class="section-title m-b">Membres du Bureau</h3>  
                <div class="ligne"> </div>

            </div>

            <div class="d iv km">
                <div class="c">

                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                            <span class="k">
                                <img src="{{ asset('images/staff/stef.jpg') }}" alt="Coulon Stéphane">
                            </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Coulon Stéphane</span>
                            <span class="cx">Président</span>
                        </div>
                    </div>

                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                            <span class="k">
                                <img src="{{ asset('images/staff/alain.jpg') }}" alt="Alain Huet">
                            </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Alain Huet</span>
                            <span class="cx">Vice président</span>
                        </div>
                    </div>

                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                            <span class="k">
                                <img src="{{ asset('images/staff/logo.jpg') }}" alt="Viviane Conan">
                            </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Viviane Conan</span>
                            <span class="cx">Trésorière</span>
                        </div>
                    </div>
                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                            <span class="k">
                                <img src="{{ asset('images/staff/patricia.jpg') }}" alt="Patricia François">
                            </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Patricia François</span>
                            <span class="cx">Trésorière Adjointe</span>
                        </div>
                    </div>
                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                            <span class="k">
                                <img src="{{ asset('images/staff/Nicolas Dufief.jpg') }}" alt="Nicolas Dufief">
                            </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Nicolas Dufief</span>
                            <span class="cx">Secrétaire</span>
                        </div>
                    </div>
                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                            <span class="k">
                                <img src="{{ asset('images/staff/Yannick MERCIER.jpg') }}" alt="Yannick Mercier">
                            </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Yannick Mercier</span>
                            <span class="cx">Secrétaire Adjoint</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="c">
            <div class="d iv">
                <div class="eh"></div>
            </div>
            <div class="m-c d iv ki center-on-small-only">
                <h3 class="section-title t-coachs">Les Coachs</h3>
                <div class="ligne"> </div>
                

            </div>

            <div class="d iv km">
                <div class="c">

                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                            <span class="k">
                                <img src="{{ asset('images/staff/yoni.jpg') }}" alt="Yoni Garnier">
                            </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Yoni Garnier</span>
                            <span class="cx">Coach</span>
                        </div>
                    </div>

                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                            <span class="k">
                                <img src="{{ asset('images/staff/Emma_Fagundes.jpg') }}" alt="Emma Fagundes">
                            </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Emma Fagundes</span>
                            <span class="cx">Coach</span>
                        </div>
                    </div>


                </div>
            </div>
        </div>


        <div class="c">
            <div class="d iv">
                <div class="eh"></div>
            </div>
            <div class="m-c d iv ki center-on-small-only">
                <h3 class="section-title t-c-Administration">Conseil d'Administration</h3>
                <div class="ligne"> </div>
                
                
            </div>

            <div class="d iv km">
                <div class="c">

                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                            <span class="k">
                                <img src="{{ asset('images/staff/beaugrand.jpg') }}" alt="Jean-Jacques Beaugrand">
                            </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Jean-Jacques Beaugrand</span>
                        </div>
                    </div>

                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                            <span class="k">
                                <img src="{{ asset('images/staff/manuella.jpg') }}" alt="Manuella Bourse Paré">
                            </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Manuella Bourse Paré</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="c">
            <div class="d iv">
                <div class="eh"></div>
            </div>
            <div class="m-c d iv ki center-on-small-only">
                <h3 class="section-title t-cm">Commission Manifestation</h3>
                <div class="ligne"> </div>
                
            </div>

            <div class="d iv km">
                <div class="c">

                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                            <span class="k">
                                <img src="{{ asset('images/staff/Carole GUERIN.jpg') }}" alt="Carole Guerin">
                            </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Carole Guerin</span>
                        </div>
                    </div>

                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                            <span class="k">
                                <img src="{{ asset('images/staff/francois mo.jpg') }}" alt="François Moquillon">
                            </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">François Moquillon</span>
                        </div>
                    </div>

                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                            <span class="k">
                                <img src="{{ asset('images/staff/nico.jpg') }}" alt="Nicolas Thuaud">
                            </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Nicolas Thuaud</span>
                        </div>
                    </div>
                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                            <span class="k">
                                <img src="{{ asset('images/staff/Nicolas BIOJOUT.jpg') }}" alt="Nicolas Biojout">
                            </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Nicolas Biojout</span>
                        </div>
                    </div>

                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                            <span class="k">
                                <img src="{{ asset('images/staff/pe.jpg') }}" alt="Pierre Emilien Brisson">
                            </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Pierre Emilien Brisson</span>
                        </div>
                    </div>
                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                            <span class="k">
                                <img src="{{ asset('images/staff/patricia2.jpg') }}" alt="Patricia Mangaud">
                            </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Patricia Mangaud</span>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="c">
            <div class="d iv">
                <div class="eh"></div>
            </div>
            <div class="m-c d iv ki center-on-small-only">
                <h3 class="section-title t-c-c">Commission communication</h3>
                <div class="ligne"> </div>
                
            </div>

            <div class="d iv km">
                <div class="c">

                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                            <span class="k">
                                <img src="{{ asset('images/staff/beaugrand.jpg') }}" alt="Jean-Jacques Beaugrand">
                            </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Jean-Jacques Beaugrand</span>
                        </div>
                    </div>

                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                            <span class="k">
                                <img src="{{ asset('images/staff/manuella.jpg') }}" alt="Manuella Bourse Paré">
                            </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Manuella Bourse Paré</span>
                        </div>
                    </div>
                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                            <span class="k">
                                <img src="{{ asset('images/staff/yoni.jpg') }}" alt="Yoni Garnier">
                            </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Yoni Garnier</span>
                        </div>
                    </div>
                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                            <span class="k">
                                <img src="{{ asset('images/staff/koraly.jpg') }}" alt="Koraly Tulo">
                            </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Koraly Tulo</span>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div class="c">
            <div class="d iv">
                <div class="eh"></div>
            </div>
            <div class="m-c d iv ki center-on-small-only">
                <h3 class="section-title t-c-l">Commission Licences</h3>
                <div class="ligne"> </div>
                
            </div>

            <div class="d iv km">
                <div class="c">

                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                            <span class="k">
                                <img src="{{ asset('images/staff/Céline SAUPIN.jpg') }}" alt="Céline Saupin">
                            </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Céline Saupin</span>
                        </div>
                    </div>

                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                            <span class="k">
                                <img src="{{ asset('images/staff/Yannick MERCIER.jpg') }}" alt="Yannick Mercier">
                            </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Yannick Mercier</span>
                        </div>
                    </div>
                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                            <span class="k">
                                <img src="{{ asset('images/staff/Karen JAN.jpg') }}" alt="Karen Jan">
                            </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Karen Jan</span>
                        </div>
                    </div>
                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                            <span class="k">
                                <img src="{{ asset('images/staff/olivier.jpg') }}" alt="Olivier Robin">
                            </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Olivier Robin</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="c">
            <div class="d iv">
                <div class="eh"></div>
            </div>
            <div class="m-c t-l-n d iv ki center-on-small-only">
                <h3 class="section-title t-c-m-s">Commission Maintenance et sécurité</h3>
                <div class="ligne"> </div>
                
            </div>

            <div class="d iv km">
                <div class="c">


                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                            <span class="k">
                                <img src="{{ asset('images/staff/arnaud.jpg') }}" alt="Arnaud Bourse Paré">
                            </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Arnaud Bourse Paré</span>
                        </div>
                    </div>
                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                            <span class="k">
                                <img src="{{ asset('images/staff/logo.jpg') }}" alt="Florian Primault">
                            </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Florian Primault</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="c">
            <div class="d iv">
                <div class="eh"></div>
            </div>
            <div class="m-c d iv ki center-on-small-only">
                <h3 class="section-title t-s-m">Staff Musculation</h3>
                <div class="ligne"> </div>
                
            </div>

            <div class="d iv km">
                <div class="c">

                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                                <span class="k">
                                    <img src="{{ asset('images/staff/beaugrand.jpg') }}" alt="Jean-Jacques Beaugrand">
                                </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Jean-Jacques Beaugrand</span>
                        </div>
                    </div>

                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                                <span class="k">
                                    <img src="{{ asset('images/staff/pe.jpg') }}" alt="Pierre-Emilien Brisson">
                                </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Pierre-Emilien Brisson</span>
                        </div>
                    </div>
                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                                <span class="k">
                                    <img src="{{ asset('images/staff/nico.jpg') }}" alt="Nicolas Thuaud">
                                </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Nicolas Thuaud</span>
                        </div>
                    </div>
                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                                <span class="k">
                                    <img src="{{ asset('images/staff/cyril.jpg') }}" alt="Cyril Bourdon">
                                </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Cyril Bourdon</span>
                        </div>
                    </div>
                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                                <span class="k">
                                    <img src="{{ asset('images/staff/christophe.jpg') }}" alt="Christophe Allix">
                                </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Christophe Allix</span>
                        </div>
                    </div>
                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                                <span class="k">
                                    <img src="{{ asset('images/staff/steven.jpg') }}" alt="Steven Airiau">
                                </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Steven Airiau</span>
                        </div>
                    </div>
                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                                <span class="k">
                                    <img src="{{ asset('images/staff/Yannick_LEFEBVRE.jpg') }}" alt="Yannick Lefebvre">
                                </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Yannick Lefebvre</span>
                        </div>
                    </div>
                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                                <span class="k">
                                    <img src="{{ asset('images/staff/jimmy.jpg') }}" alt="Jimmy Leviennois">
                                </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Jimmy Leviennois</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <div class="c">
            <div class="d iv">
                <div class="eh"></div>
            </div>
            <div class="m-c d iv ki center-on-small-only">
                <h3 class="section-title s-t-l-g-f">Staff Lutte et Grappling Fight</h3>
                <div class="ligne"> </div>
                
            </div>

            <div class="d iv km">
                <div class="c">

                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                                <span class="k">
                                    <img src="{{ asset('images/staff/alain.jpg') }}" alt="Alain Huet">
                                </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Alain Huet</span>
                        </div>
                    </div>

                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                                <span class="k">
                                    <img src="{{ asset('images/staff/patricia.jpg') }}" alt="Patricia François">
                                </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Patricia François</span>
                        </div>
                    </div>
                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                                <span class="k">
                                    <img src="{{ asset('images/staff/Jean-Michel GEOFFRAY.jpg') }}" alt="Jean-Michel Geoffray">
                                </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Jean-Michel Geoffray</span>
                        </div>
                    </div>
                    <div class="d iv kr">
                        <div class="avatar-wrapper">
                                <span class="k">
                                    <img src="{{ asset('images/staff/yoni.jpg') }}" alt="Yoni Garnier">
                                </span>
                        </div>
                        <div class="avatar-name">
                            <span class="fx">Yoni Garnier</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>







{% endblock %}
