{% extends 'base.html.twig' %}
{% block title %}Les Actualités du club{% endblock %}
{% block description %}Toutes les actualités du Club Alfa 44 {% endblock %}
{% block titre %}Les actualités{% endblock %}
{% block head %}
    <link rel="manifest" href="/manifest.json" />
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
        var OneSignal = window.OneSignal || [];
        OneSignal.push(function() {
            OneSignal.init({
                appId: "141096fe-e97d-4850-bb5d-a457c6971633",
                autoRegister: false,
                notifyButton: {
                    enable: false,
                },
                welcomeNotification: {
                    "title": "ClubAlfa44",
                    "message": "Bienvenue !",
                    // "url": "" /* Leave commented for the notification to not open a window on Chrome and Firefox (on Safari, it opens to your webpage) */
                }
            });

        });
    </script>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            {% for actualite in actualites %}
                <div class="row p-r ">
                    <div class="evenement col s12">
                        <div class="photo-evenement valign-wrapper col s12 m4">
                            <img class="responsive-img center-block"
                                 src="{% if vich_uploader_asset(actualite, 'imageFile') %}
                            {{ vich_uploader_asset(actualite, 'imageFile')| imagine_filter('evenements') }}
                        {% else %}{{ asset("images/default-placeholder-300x200.png") }}
                        {% endif %}" alt="{{ actualite.titre }}">
                        </div>

                        <div class="content-evenement col s12 m8">
                            <div class="titre-block-evenement col s12">
                                <div class="titre-evenement col s12 m8">
                                    <h5>{{ actualite.titre }}</h5>
                                </div>
                            </div>
                            <div class="divider blue"></div>
                            <div class="contenu-evenement col s12">
                                {{ actualite.contenu|raw }}
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
        {#pagination#}
        <div class="row">
            <ul class="col m11 pagination center-align">
                {% if nbPages > 1 %}
                    {% if page > 1 %}
                        <li>
                            <a class="chevron-gauche" href="{{ path('actualites_paginated', {'page': page - 1}) }}">
                                &lang; </a>
                        </li>
                    {% endif %}

                    {% for p in range(1, nbPages) %}
                        <li{% if p == page %} class="active"{% endif %}>
                            <a href="{{ path('actualites_paginated', {'page': p}) }}" class="current-page">{{ p }}</a>
                        </li>
                    {% endfor %}
                    {% if page < nbPages %}
                        <li>
                            <a href="{{ path('actualites_paginated', {'page': page + 1}) }}">
                                &rang; </a>
                        </li>
                    {% endif %}

                {% endif %}
            </ul>
        </div>
    </div>


{% endblock %}
