<?xml version="1.0" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>Club Alfa 44 - Actualités</title>
        <link>https://www.clubalfa44.com</link>
        <description>Les actualités de votre club</description>
        <atom:link href="https://www.clubalfa44.com/rss-actus.xml" rel="self" type="application/rss+xml" />
        <image>
            <title>Club Alfa 44 - Actualités</title>
            <url>{{ absolute_url(asset('images/logoalfarss.jpg')) }}</url>
            <link>https://www.clubalfa44.com</link>
        </image>
        {% for actualite in actualites %}
            <item>
                <title>{{ actualite.titre }}</title>
                <link>https://www.clubalfa44.com/actualites/{{ actualite.slug }}</link>
                <pubDate>{{ actualite.date|date('D, d M Y H:i:s O') }}</pubDate>
                <description><![CDATA[
                <img src="{{ vich_uploader_asset(actualite, 'imageFile')| imagine_filter('evenements') }}" />
                <p>{{ actualite.contenu | resume(constant('NUM_WORDS', actualite))|raw }}</p>]]>
                </description>
                <guid>https://www.clubalfa44.com/actualites/{{ actualite.slug }}</guid>
            </item>
        {% endfor %}
    </channel>
</rss>
